* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* CONTACT  PART */


.contact-main {
    display: block;
}

.contact-main .contact-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-top: 50px;
}

.contact-main .contact-inner .contact-left-item {
    display: block;
    padding: 0 15px;
    width: 30%;
    box-sizing: border-box;
}

.contact-main .contact-inner .contact-left-item .item-inner {
    display: block;
    border: 1px solid #e1e1e1;
    padding: 10px 25px;
}

.contact-main .contact-inner .contact-left-item .item-inner strong {
    display: block;
    text-transform: uppercase;
    color: #232323;
    margin-bottom: 2rem;
}

.contact-main .contact-inner .contact-left-item .item-inner ul {
    display: block;
    /* text-transform: uppercase; */
    color: #232323;
}

.contact-main .contact-inner .contact-left-item .item-inner ul li {
    display: flex;
    /* text-transform: uppercase; */
    color: #232323;
    padding: 15px 0;
    box-sizing: border-box;
}

.contact-main .contact-inner .contact-left-item .item-inner ul li .icon {
    display: block;
    padding: 0 15px;
}

.contact-main .contact-inner .contact-left-item .item-inner ul li .icon i {
    font-size: 30px;
    font-weight: 900;
    color: gray;
}

.contact-main .contact-inner .contact-left-item .item-inner ul li .text {
    display: block;
}

.contact-main .contact-inner .contact-left-item .item-inner ul li .text b {
    display: block;
    margin-bottom: 10px;
}

.contact-main .contact-inner .contact-left-item .item-inner ul li .text a {
    display: block;
    color: #0832eb;
}

.contact-main .contact-inner .contact-left-item .item-inner ul li:hover a {
    display: block;
    color: darkblue;
}

.contact-main .contact-inner .contact-right-item {
    display: block;
    padding: 0 15px;
    width: 70%;
    box-sizing: border-box;
}

.contact-main .contact-inner .contact-right-item .item-inner {
    display: block;
    border: 1px solid #e1e1e1;
    padding: 20px;
}

.contact-main .contact-inner .contact-right-item .item-inner .title {
    display: block;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.contact-main .contact-inner .contact-right-item .item-inner .details {
	display: block;
	padding: 20px;
	margin-left: 30px;
}

.contact-main .contact-inner .contact-right-item .item-inner .details>div {
    padding: 10px 0;
}

.contact-main .contact-inner .contact-right-item .item-inner .details label {
    display: inline-block;
    text-align: right;
    width: 20%;
    font-size: 18px;
}


.contact-main .contact-inner .contact-right-item .item-inner .details input {
    display: inline;
    margin-left: 20px;
    width: +60%;
}

.contact-main .contact-inner .contact-right-item .item-inner .details select {
    display: inline;
    margin-left: 20px;
    width: 60%;
}

.contact-main .contact-inner .contact-right-item .item-inner .details textarea {
    display: inline;
    margin-left: 20px;
    width: 60%;
}

.contact-main .contact-inner .contact-right-item .item-inner .details .form-control {
    background-color: #faf8f8;
    border: 1px solid #e1e1e1;
    padding: 6px 15px;
    font-size: 15px;
    height: 38px;
    box-sizing: border-box;
}

.contact-main .contact-inner .contact-right-item .item-inner .sent {
    display: flex;
    justify-content: end;
}

.contact-main .contact-inner .contact-right-item .item-inner .sent button {
    transition: 0.5s;
    border-radius: 3px;
    font-size: 18px;
    background-color: #080808;
    border-color: #000000;
    color: white;
    padding:10px 15px;
    text-transform: capitalize;
    margin: 0 10% 0 0;
}

.contact-main .contact-inner .contact-right-item .item-inner {
    display: block;
    border: 1px solid #e1e1e1;
    padding: 20px;
}